* {
  box-sizing: border-box;
}

html {
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
  overflow-y: hidden;
  overflow-x: hidden;
}
 
article {
  z-index: 999;
  display: flex;
  background: linear-gradient(90deg, rgba(4,85,116,1) 0%, rgba(3,113,155,1) 100%);
  height: 40vh;
  width: 65vh;
  border-radius: 5px; 
  box-shadow: rgb(74, 74, 88) 0px 14px 58px 0px;
  padding: 0;
  overflow: hidden;
} 

h1 {
  color: #FFFFFF;
  font-family: "futura-pt", sans-serif;
  font-weight: 450;
  font-size: 200%;
  letter-spacing: 5px;
  animation-name: naam;
  animation-duration: 1s;
  animation-iteration-count: 2;
  white-space: nowrap;
}

.front {  
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  height: 4vw;
  background-color: transparent;
  border: none;
  transition: margin-left 0.35s ease;  
  padding: 0;
  margin-top: 24%;
}

h2{
  color: #FFFFFF;
  font-family: "futura-pt", sans-serif;
  font-weight: 100;
  font-size: 250%;
  letter-spacing: 5px;
  line-height: 3rem;
  white-space: nowrap;
  animation-name: naam;
  animation-duration: 1s;
  animation-iteration-count: 2;
}

.arrow {
  background-color: #FFFFFF;
  margin-right: 0.25rem;
  width: 4rem;
  height: 2px;
  border: none;
  transition: 0.35s ease;
  animation-name: naam;
  animation-duration: 1s;
  animation-iteration-count: 2;
  margin-left: -2vw;
}

.front.moved .arrow {
  width: 15vw;
  margin-left: 0.5vw;
}

.front.moved {
  margin-left: 21rem;
} 

#rockets {
  position: absolute;
  margin-left: -120vw;  
  width: 20%;
}

.rocketAnimation {
  animation: rockets 700ms ease-in forwards;
}

@keyframes rockets {
  0% {
    transform: translateX(0vw);
    scale: 0.9;
  }
  100% {
    transform: translateX(200vw);
    scale: 1.1;
  }
}


@media (max-width: 600px) {
  body {
    overflow-y: hidden;
    overflow-x: hidden;
  }
  
  article {
    rotate: 90deg;
  }
  #githubSVG, #mailSVG, #testButtonSVG{
    rotate: -90deg;
  }
  .front{
    margin-left: -50vw;
    margin-top: 35%;
  }
  .front.moved {
    margin-left: 25vw;
  }
}

a {
  position: relative;
  bottom: 0;
  left: 0;
  display: flex;
  align-items:center;
}

#githubSVG, #mailSVG {
  position: absolute;
  bottom: 1rem;
  width: 2.5rem;
  height: 2.5rem;
  border: 3px solid #FFFFFF;
  border-radius: 50%;
  padding: 0.5vw;
  box-shadow: -0.2rem 0.2rem 0 0 #FFFFFF;
}

#githubSVG {
  left: 1rem; 
}

#mailSVG {
  left: 4.5rem;
}

#githubSVG:active {
  box-shadow: -0.1rem 0.1rem 0 0 #FFFFFF;
  left: 0.9rem;
  bottom: 0.9rem;
}

#mailSVG:active {
  box-shadow: -0.1rem 0.1rem 0 0 #FFFFFF;
  left: 4.4rem;
  bottom: 0.9rem;
}

p {
  color: #FFFFFF;
  font-family: "futura-pt", sans-serif;
  font-weight: 100;
  font-size: 150%;
  letter-spacing: 2px;
  margin-left: -22vw;
  margin-right: 1vw;
  white-space: nowrap;
}

#testButton {
  background-color: transparent;
  border: none;
  position: relative;
  left: 0;
  bottom: 0;
  color: white;
}

#testButtonSVG {
  position: absolute;
  bottom: 1rem;
  left: 8rem;
  height: 2.5rem;
  width: 2.5rem;
  border: 3px solid #FFFFFF;
  border-radius: 50%;
  padding: 0.5vw;
  box-shadow: -0.2rem 0.2rem 0 0 #FFFFFF;
}

#testButtonSVG:active {
  box-shadow: -0.1rem 0.1rem 0 0 #FFFFFF;
  left: 7.9rem;
  bottom: 0.9rem;
}

.darkMode {
  background-color: #292929;
}

.darkMode2 {
  box-shadow: rgb(32, 32, 32) 0px 14px 58px 0px;
}