* {
  box-sizing: border-box;
}

html {
  height: 100vh;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: aliceblue;
}

article {
  font-family: 'Lucida Sans';
  color: #556076;
  position: relative;
  display: flex;
  flex-direction: row;
  background-color: #bff5d4;
  border-radius: 15px;
  transition: 0.2s ease-in-out;
  box-shadow: rgb(74, 74, 88) 0px 14px 58px 0px;
  width: 40vw;
}

nav {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-right: 1vw;
}

nav button{
  align-items: center;
  width: 6vw;
  height: 6vw;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  cursor: pointer;
  font-size: xx-large;
}

nav button img{
  width: 3w;
  height: 3vw;
  transition: 0.2s ease;
}

nav button img:hover{
  transform: scale(1.2);
}

#button1 {
  background-color: #bff5d4;
  border: solid 2px #bff5d4;
}
#button2 {
  background-color: #5CDB95;
  border: solid 2px #5CDB95;
}
#button3 {
  background-color: #379683;
  border: solid 2px #379683;
}
#button4{
  background-color: #05386B;
  border: solid 2px #05386B;
}

.afbeelding {
  max-width: 15vw;
  border-radius: 15px;
  overflow: hidden;
}

.text{
  width: 18vw;
  transition: 0.2s ease-in-out;
} 

#afbeelding{
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  width: 100%;
  height: 100%;
} 